@font-face {
  font-family: "zt";
  src:url("../fonts/zt.eot");
  src:url("../fonts/zt.eot?#iefix") format("embedded-opentype"),
    url("../fonts/zt.woff") format("woff"),
    url("../fonts/zt.ttf") format("truetype"),
    url("../fonts/zt.svg#zt") format("svg");
  font-weight: normal;
  font-style: normal;
}