	<footer id="footer">
		<!-- <div class="footer-top">
			<div class="wrapper">
				<form action="#" class="search">
					<input type="search" placeholder="Поиск">
					<div class="search-submit">
						<input type="submit" value="">
					</div>
				</form>
				<div class="login-language">
					<div class="language">
						<a href="#"><img src="../img/ru.png" alt="">RU</a>
						<div class="all-language"></div>
					</div>
					<a href="#" class="enter">Войти</a>
				</div>
			</div>
		</div> -->
		<div class="footer-bottom">
			<div class="wrapper">
				<p class="footer-bottom-l"><img src="../img/exclamation.png" alt="">Информация, представленная на сайте не должна использоваться для самостоятельной диагностики и лечения и не может служить заменой очной консультации врача.</p>
				<p class="footer-bottom-r">&copy;2007-2016 Фармацевтическая компания «Здоровье»<span>Сайт разработан компанией «<a href="#">OneHub</a>»</span></p>
			</div>
		</div>
	</footer>
</div>
</body>
</html>