<nav class="mobile-menu">
    <div class="mobile-menu-item">
	    <div class="wrapper">
	   		<div class="mobile-menu-item-top">
	    		<h3>меню сайту</h3>
	    		<a href="#" class="close-mobile-menu"><img src="../img/close.png" alt="">Закрыть</a>
	    	</div>
	    	<div class="mobile-menu-item-bottom">
	    		<div class="mobile-menu-item-bottom-item">
	    			<h4>Потребителям</h4>
					<a href="#">Препараты</a>
					<a href="#">Подбор за симптомами</a>
					<a href="#">Прайс-лист</a>
					<a href="#">Фарконадзор</a>
	    		</div>
	    		<div class="mobile-menu-item-bottom-item">
	    			<h4>О компании</h4>
					<a href="#">Завод</a>
					<a href="#">Цифры и факты</a>
					<a href="#">Международное сотрудничество</a>
					<a href="#">Награды и сертификаты</a>
					<a href="#">Информация эмитента</a>
					<a href="#">Контакты</a>
	    		</div>
	    		<div class="mobile-menu-item-bottom-item">
	    			<h4>Новости</h4>
					<a href="#">Новости компании</a>
					<a href="#">Поддержка спорта</a>
					<a href="#">Духовная жизнь</a>
					<a href="#">Забота о людях</a>
	    		</div>
	    		<div class="mobile-menu-item-bottom-item">
	    			<h4>Партнёрам</h4>
					<a href="#">Отдел контроля качества</a>
					<a href="#">Отдел обеспечения качества и валидации</a>
					<a href="#">Сертификаты, аудиты и проверки</a>
					<a href="#">Внешнеэкономическая деятельность</a>
	    		</div>
	    		<div class="mobile-menu-item-bottom-item">
	    			<h4>Карьера</h4>
					<a href="#">Вакансии</a>
					<a href="#">Обучение</a>
					<a href="#">Высшее образование</a>
					<a href="#">Кадровая политика</a>
	    		</div>
	    	</div>
        </div>
    </div>
</nav>
<header id="header">
	<div class="wrapper">
		<a href="#" class="logo"><img src="../img/logo.png" alt=""></a>
		<div class="header-top">
			<!-- <ul class="header-top-menu">
				<li><a href="#">О компании</a></li>
				<li><a href="#">Новости</a></li>
				<li><a href="#">Контакты</a></li>
			</ul> -->
			<div class="login-language">
				<a href="#" class="callback"><img src="../img/mail.png" alt="">Обратная связь</a>
				<div class="socials">
					<p>Ми в соцсетях:</p>
					<a href="#" class="vk"></a>
					<a href="#" class="facebook"></a>
				</div>
				<div class="language">
					<a href="#">RU</a>
					<div class="all-language">
						<a href="#">UA</a>						
						<a href="#">EN</a>
						<a href="#">DE</a>
						<a href="#">ES</a>
						<a href="#">FR</a>
						<!-- <a href="#">EN</a> -->
					</div>
				</div>
				<form action="#" class="search">
					<input type="search" placeholder="Поиск">
					<div class="search-submit">
						<input type="submit" value="">
					</div>
				</form>
				<a href="#" class="search-icon"></a>
				<a href="#" class="enter">Вход</a>
				<!-- <a href="#" class="bookmarks">Закладки <span>2</span></a> -->
			</div>
		</div>
		<div class="header-bottom">
			<nav>
				<ul class="header-bottom-menu">
					<li><a href="#"  data-content="Підбір препаратів">Подбор препаратов</a></li>
					<li><a href="#"  data-content="Завод">Завод</a></li>
					<li><a href="#"  data-content="Партнерам">Партнёрам</a></li>
					<li><a href="#"  data-content="Новини">Новости</a></li>
					<li><a href="#"  data-content="Контакти">Контакты</a></li>
				</ul>
				<div class="menu-burger"><span class="menu-burger-item"></span><a href="#" class="submenu">Меню</a></div>
			</nav>
		</div>
	</div>
</header>