<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Base</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=0.6,maximum-scale=1,user-scalable=no,minimal-ui">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/screen.css" />
	<script type="text/javascript" src="../js/vendor.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
	<link rel="shortcut icon" href="{THEME}/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{THEME}/img/favicon.ico" type="image/x-icon">
</head>
<body>
	<div class="global-wrapper">